@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


#paragraph{
    color: #646669;
}
.result-details{
    color: white;
}

.wrapper {
    transform: scale(1.5);
    width: 700px;
    padding: 35px;
    background-color: rgba(39, 39, 44, 0.5); /* #27272a with 50% opacity */
    border: 1px solid #3F3F46;
    border-radius: 10px;
    
}
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.wrapper .content-box {
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 2px solid #10B981;
}
.content-box .typing-text {
    overflow: hidden;
    max-height: 356px;
}
.typing-text::-webkit-scrollbar {
    width: 0;
}
.typing-text p {
    font-size: 32px;
    text-align: justify;
    letter-spacing: 10px;
    word-break: break-all;
}
.typing-text span {
    position: relative;
    color: #646669
}

.typing-text  span.correct {
    color: #d1d0c5;
}
.typing-text  span.incorrect {
    color: #ca4754;
    border-radius: 4px;
}
/* .typing-text p span.active {
    color: #17A2B8;
} */
.typing-text span.active::before {
    content: "|";
    position: absolute;
    left: -3px;
    top: -6px;
    font-weight: 500;
    font-size: 21px;  /* Keep your original font size */
    color: #10B981;
    animation: blink 1s step-start infinite;
    transform: scaleX(0.5);  /* Adjust this value to make it thinner */
}

@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 1; /* stays visible */
    }
}

.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid #10B981;
}
.content button {
    outline: none;
    border: none;
    width: 105px;
    color: #10B981;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #10B981;
    background: none;
    transition: transform 0.4s ease;
}
.content button:active {
    transform: scale(0.89);
}
.content button:hover {
    background: #FFFFFF;
}
.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
}
.result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
}
.result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 2px solid #bfbfbf;
}
.result-details li p {
    font-size: 13px;
}
.result-details li span {
    display: block;
    font-size: 13px;
    margin-left: 10px;
}
li span b {
    font-weight: 500;
}
li:not(:first-child) span {
    font-weight: 500;
}
@media (max-width: 745px) {
    .wrapper {
        padding: 20px;
    }
    .content-box .content {
        padding: 20px 0;
    }
    .content-box .typing-text {
        max-height: 100%;
    }
    .typing-text p {
        font-size: 19px;
        text-align: left;
    }
    .content button {
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin-top: 20px;
    }
    .content .result-details {
        width: 100%;
    }
    .result-details li:not(:first-child) {
        border-left: 0;
        padding: 0;
    }
    .result-details li p,
    .result-details li span {
        font-size: 15px;
    }
}
@media (max-width: 518px) {
    .wrapper .content-box {
        padding: 10px 15px 0;
    }
    .typing-text p {
        font-size: 13px;
    }
    .result-details li {
        margin-bottom: 10px;
    }
    .content button {
        margin-top: 10px;
    }
}